.text {
    color: black;
}

.bg-container {
    background-image: url("https://img.freepik.com/free-vector/futuristic-halftone-background_53876-90595.jpg?ga=GA1.1.842115432.1748506746&semt=ais_items_boosted&w=740");
    background-size: cover;
    height:100vh;
    width:auto;
}
.about-section-bg{
  background-image: url("https://img.freepik.com/free-vector/futuristic-halftone-background_53876-90595.jpg?ga=GA1.1.842115432.1748506746&semt=ais_items_boosted&w=740");
    background-size: cover;
    height:100vh;
    width:auto;
}
.project-section-bg{
  background-image: url("https://img.freepik.com/free-vector/futuristic-halftone-background_53876-90595.jpg?ga=GA1.1.842115432.1748506746&semt=ais_items_boosted&w=740");
    background-size: cover;
    height:auto;
    width:auto;
}
.project-card{
    background-color:white;
    border-radius:10px;
    border-color: black;
    margin:3px;
    height:40vh;
    width:25vw;
}
.skills-section-bg{
  background-image: url("https://img.freepik.com/free-vector/futuristic-halftone-background_53876-90595.jpg?ga=GA1.1.842115432.1748506746&semt=ais_items_boosted&w=740");
    background-size: cover;
    height:100vh;
    width:auto;
}
.skills-card{
  background-color:grey;
  border-radius:10px;
    border-color: black;
    margin:3px;
    height:10vh;
    width:10vw;

}
